<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>593244175528-qnd5qgrtdv7rh3uk176r7oh9p5ukmig1.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.593244175528-qnd5qgrtdv7rh3uk176r7oh9p5ukmig1</string>
    <key>API_KEY</key>
    <string>AIzaSyBRtg7bglP8_WC9m5WBrtSQQGuHAkQy8P0</string>
    <key>GCM_SENDER_ID</key>
    <string>593244175528</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.app.commissioncounter</string>
    <key>PROJECT_ID</key>
    <string>commission-counter</string>
    <key>STORAGE_BUCKET</key>
    <string>commission-counter.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:593244175528:ios:a1e4989aafc5129b01d69d</string>
    <key>DATABASE_URL</key>
    <string>https://commission-counter.firebaseio.com</string>
</dict>
</plist>
