<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940145850715-6lob4vqqi0shrtm2c1lb917k3antjm4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940145850715-6lob4vqqi0shrtm2c1lb917k3antjm4m</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ju7hgnMpqgPkwXgJNIknmRZHzcutuHw</string>
	<key>GCM_SENDER_ID</key>
	<string>940145850715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yd.casino</string>
	<key>PROJECT_ID</key>
	<string>casino-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>casino-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940145850715:ios:30917caf792923005cc27e</string>
	<key>DATABASE_URL</key>
	<string>https://casino-mvp.firebaseio.com</string>
</dict>
</plist>